@charset "UTF-8";

@font-face {
    font-family: "icons";
    src: url('../fonts/icons/icons.woff2') format('woff2'),
        url('../fonts/icons/icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$icons:  ("arrow-back", "EA01") ("arrow-down", "EA02") ("arrow-drop-up", "EA03") ("arrow-forward", "EA04") ("arrow-left", "EA05") ("arrow-right", "EA06") ("arrow-up", "EA07") ("arrow-upward", "EA08") ("check", "EA09") ("close", "EA0A") ("email", "EA0B") ("facebook", "EA0C") ("googleplus", "EA0D") ("instagram", "EA0E") ("linkedin", "EA0F") ("location", "EA10") ("phone", "EA11") ("search", "EA12") ("share", "EA13") ("twitter", "EA14") ("whatsapp", "EA15") ("youtube", "EA16");

%icon {
    font-family: "icons", sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}

@mixin icon($name, $contentOnly: false) {
    @if $contentOnly == false {
        @extend %icon;
    }

    @each $i in $icons {
        @if $name == nth($i, 1) {
            content: unquote( "\"\\#{nth($i, 2)}\"" );
        }
    }
}

@each $i in $icons {
    .icon-#{nth($i, 1)} {
        @extend %icon;

        &:before {
            content: unquote( "\"\\#{nth($i, 2)}\"" );
        }
    }
}