@import "sass-fluid";

@mixin ul-reset {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        margin: 0;
        padding: 0;
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
}

@mixin default-transition($values: all, $speed: 300ms, $transition: cubic-bezier(0.2,0.79,0.44,1)) {//cubic-bezier(0.23, 1, 0.32, 1)) {
    $string: 0;

    @each $value in $values {
        $i: index($values, $value);
        
        @if ($i == 1) {
            $string: $value + ' ' + $speed + ' ' + $transition;
        }
        @else {
            $string: $string + ', ' + $value + ' ' + $speed + ' ' + $transition;
        }        
    }

    transition: $string;
}

////--- arrow down --- ////
@mixin arrow-down($color, $width, $height: "undefined") {
    @if $height == "undefined" {
        $height: $width;
    }

    width: 0; 
    height: 0; 
    border-left: $width/2 solid transparent;
    border-right: $width/2 solid transparent;
    border-top: $height solid $color;
}

//// --- arrow up --- ////
@mixin arrow-up($color, $width, $height: "undefined") {
    @if $height == "undefined" {
        $height: $width;
    }

    width: 0; 
    height: 0; 
    border-left: $width/2 solid transparent;
    border-right: $width/2 solid transparent;
    border-bottom: $height solid $color;
}

//// --- arrow left --- ////
@mixin arrow-left($color, $width, $height: "undefined") {
    @if $height == "undefined" {
        $height: $width;
    }

    width: 0; 
    height: 0; 
    border-left: $width solid transparent;
    border-right: $width solid $color;
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
}

//// --- arrow right --- ////
@mixin arrow-right($color, $width, $height: "undefined") {
    @if $height == "undefined" {
        $height: $width;
    }

    width: 0; 
    height: 0; 
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left: $width solid $color;
}

//// --- anti aliasing --- ////
@mixin antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
