$colors: (
    primary: #F2F2F2,
    secondary: #43A1FF,
    text: rgba(#070043, 0.8),
    heading: #212121,
    button: #FFCE00,
    text-grey: #9B9B9B,
    border: #D3D3D3,
    accent: #EBEBEB,
    blue: #070043,
    white: #FFFFFF,
    red: #FB3721,
    yellow: #FFCE00,
    lightblue: #D9DEE5,
    lightgrey: #F3F4F8,
    grey: #979797,
);

$gradients: (
    blue: linear-gradient(-90deg, #4A2485 0%, #0551D8 100%)
);

$z-indexes: (
    menu: 200,
    depth-behind: 20,
    depth-middle: 30,
    depth-overlay: 40,
);

$main-font: 'Proxima Nova', 'Helvetice Neue', Arial, sans-serif;
$main-strong: 'Proxima Nova Bold', 'Helvetice Neue', Arial, sans-serif;
$button-font: Montserrat, sans-serif;
$heading-font: Montserrat, sans-serif;
$navigation-font: Montserrat, sans-serif;
