.article-listview {
    border-top: 2px solid map-get($colors, border);
    @include fluid(padding-top, 30px, 45px);
}   

.article-listitem {
    text-decoration: none;

    .article-listitem__undertitle {
        margin-bottom: 3px;
        font-size: 12px;
        font-weight: 700;
        font-family: $heading-font;
        color: #c5c3d1;
        text-transform: uppercase;
    }

    .h2 {
        margin-bottom: 0;
        padding: 15px 0;
    }
}