.article {
    color: inherit;
    text-decoration: none;

    .article__undertitle {
        margin-bottom: 3px;
        font-size: 12px;
        font-weight: bold;
        color: #c5c3d1;
        font-family: $heading-font;
        text-transform: uppercase;
    }

    .article__figure {
        position: relative;
        margin-bottom: 15px;
        overflow: hidden;
        @include default-transition;

        .article__figure__inner {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            z-index: 2;
            @include fluid(padding, 10px, 20px);
            display: flex;
            align-items: flex-end;
            @include default-transition(opacity, 350ms);

            > div {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }
        }

        .article__figure__image {
            position: relative;
            z-index: 1;
        }

        .article__tag {
            font-size: 14px;
            font-weight: bold;
            color: #c5c3d1;
            text-align: right;
        }

        .article__figure-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            video {
                width: 100%;
                height: 100%;
            }
        }
    }

    .article__title {
        line-height: 1;

        .article__title__line {
            > div {
                margin-bottom: 5px;
                display: inline-block;
                position: relative;
                z-index: 1;

                &:before {
                    content: '';
                    background-color: map-get($colors, yellow);
                    width: 0;
                    height: 25%;
                    position: absolute;
                    bottom: -2px;
                    z-index: -1;
                    @include default-transition;
                }
            }

            &:last-child {
                > div {
                    &:after {
                        @include icon('arrow-forward');
                        position: absolute;
                        top: -0.08em;
                        right: -30px;
                        @include default-transition;
                        opacity: 0;
                        color: map-get($colors, yellow);
                        font-size: 30px;
                    }
                }
            }
        }
    }

    &:hover {
        .article__figure {
            .article__figure__inner {
                opacity: 0;
            }
        }

        .article__title {
            .article__title__line {
                > div {
                    &:before {
                        width: 100%;
                    }

                    &:after {
                        right: -40px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.play {
    display: flex;
    align-items: center;

    .play__btn {
        text-decoration: none;
        margin-right: 8px;

        img {
            display: block;
        }
    }
}

.article__button {
    @include fluid(margin-top, 25px, 50px);
    display: flex;
    flex: 1 1 100%;

    @include breakpoint(medium) {
        justify-content: center;
    }
}