.backtotop {
    position: fixed;
    display: inline-block;
    bottom: 0;
    right: 20px;
    height: 40px;
    width: 50px;
    background-color: map-get($colors, red);
    visibility: hidden;
    opacity: 0;
    @include default-transition(all, 200ms);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:after {
        @include icon('arrow-up');
        text-align: center;
        color: #fff;
        font-size: 30px;
    }

    &.backtotop--is-visible {
        visibility: visible;
        opacity: 1;
    }

    &:hover {
        height: 50px;
    }
}