.benefits {
    @include default-transition(background-color color, 280ms);

    .benefits__inner {
        text-align: center;
        font-family: $heading-font;
        height: 840px;
        display: flex;
        align-items: center;
    
        > div {
            flex: 1 1 100%;
        }
    
        .benefits__usps {
            > div {
                display: none;
    
                &:first-child {
                    display: block;
                }
            }
        }
    
        .benefits__title {
            @include fluid(margin-bottom, 15px, 25px);
        }
    
        .benefits__text {
            line-height: 1;
            text-transform: uppercase;
            @include fluid(font-size, 42px, 100px);
            font-weight: 800;
            @include fluid(margin-bottom, 30px, 40px);
    
            .line__wrapper {
                overflow: hidden;
            }
        }
    }
}