.btn {
    font-family: $button-font;
    font-weight: 600;
    border-radius: 999px;
    color: map-get($colors, text);
    background-color: map-get($colors, button);
    @include fluid(font-size, 14px, 15px);
    display: inline-flex;
    font-weight: 600;
    text-decoration: none;
    @include fluid(padding, 15px 14px 15px 21px, 20px 16px 20px 28px);
    outline: none;
    align-items: center;
    justify-content: space-between;
    @include default-transition(all, 200ms);
    line-height: 1.2;
    cursor: pointer;
    text-transform: uppercase;

    &.btn--blue {
        background-color: map-get($colors, blue);
        border-color: map-get($colors, blue);
        color: #FFF;
    }

    &.btn--outline {
        background-color: #FFF;
        color: map-get($colors, text);
        font-weight: 400;
    }

    i {
        font-size: 24px;
        margin: -10px 0;
        @include default-transition(transform);
    }

    span + i {
        margin-left: 4px;
    }

    i + span {
        margin-left: 4px;
    }

    @include breakpoint(medium) {
        &:hover { 
            background-color: map-get($colors, blue);
            color: #FFF;
    
            i {
                transform: translateX(5px);
            }
        }

        &.btn--blue {
            &:hover {
                background-color: map-get($colors, red);
                border-color: map-get($colors, red);
            }
        }

        &.btn--yellow-blue {
            &:hover {
                background-color: map-get($colors, red);
                border-color: map-get($colors, red);
                color: #FFF;
            }
        }
    
        &.btn--yellow-red {
            &:hover {
                background-color: map-get($colors, red);
                border-color: map-get($colors, red);
                color: #FFF;
            }
        }

        &.btn--outline {
            &:hover {
                color: map-get($colors, purple);
                border-color: map-get($colors, purple);
            }
        }
    }
}

.btn-text {
    @include fluid(font-size, 14px, 15px);
    @include default-transition;
    font-family: $button-font;
    font-weight: 600;
    position: relative;
    display: inline-flex;
    color: map-get($colors, blue);
    align-items: center;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 7px 0;
    border-bottom: 0;

    i {
        margin-right: -5px;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 0;
        height: 2px;
        width: 100%;
        pointer-events: none;
        background-color: map-get($colors, yellow);
        @include default-transition;
    }

    &.btn-text--white {
        color: #fff;

        &:after {
            background-color: #fff;
        }
    }

    @include breakpoint(medium) {
        &:hover {
            text-decoration: none;
            color: map-get($colors, blue);

            &:after {
                background-color: map-get($colors, blue);;
            }
        }

        &.btn-text--red-hover {
            &:hover {
                color: map-get($colors, red);
    
                &:after {
                    background-color: map-get($colors, red);
                }
            }
        }

        &.btn-text--yellow-hover {
            &:hover {
                color: map-get($colors, yellow);
    
                &:after {
                    background-color: map-get($colors, yellow);
                }
            }
        }
    }
}

.btn-text-icon {
    display: inline-flex;
    align-items: center;

    i {
        font-size: 28px;
    }
}

.btn-holder {
    display: flex;
    margin: -5px;

    .btn {
        margin: 5px;
    }
}
