.contact {
    overflow-x: hidden;
    
    .contact__content {
        z-index: 1;
        position: relative;
        color: #fff;

        @include breakpoint(medium) {
            min-height: 100vh;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 100vw;
            height: 100%;
            right: 0;
            background-color: map-get($colors, blue);
        }
    
        &.contact__content--aside {
            @include breakpoint(medium) {
                display: flex;
                justify-content: flex-end;
            }

            &:before {
                background-color: map-get($colors, red);
                left: 0;
            }

            .contact__content__inner {
                color: map-get($colors, text);

                @include breakpoint(small only) {
                    padding: 50px 0;
                }
            }
        }
                
        .contact__content__inner {
            height: 100%;
            padding: 110px 0 50px;

            @include breakpoint(medium) {
                padding: 150px 0 100px;
            }
        }
    }

    .contact__address {
        address {
            margin-bottom: 45px;

            a[href^="tel:"] {
                text-decoration: none;
                color: inherit;
            }

            @include breakpoint(medium) {
                margin-bottom: 60px;

                a[href^="tel:"] {
                    &:hover {
                        color: #fff;
                    }
                }
            }

            @include breakpoint(large) {
                margin-bottom: 75px;
            }
        }
        
        p {
            max-width: 270px;
        }
    }
}