.employees-slider-container {
    overflow: hidden;
}

.employees-slider {
    .slick-list {
        margin: 0 -15px;
    }

    .slick-slide {
        padding: 0 15px;
    }
}

.employees {
    color: inherit;
    text-decoration: none;

    .employees__figure {
        position: relative;
        @include fluid(margin-bottom, 12px, 18px);

        .employees__figure-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            video {
                width: 100%;
                height: 100%;
            }
        }
        
        img {
            position: relative;
            z-index: 1;
            width: 100%;
        }
    }

    .employees__title {
        margin-bottom: 0.4em;
    }

    .employees__undertitle {
        margin-bottom: 3px;
        font-weight: bold;
        color: #c5c3d1;
        font-family: $heading-font;
        text-transform: uppercase;
        @include fluid(font-size, 10px, 12px);
    }

    .employees__contact {
        @include fluid(font-size, 13px, 16px);

        a {
            text-decoration: none;
            color: inherit;
            @include default-transition;
            
            @include breakpoint(medium) {
                &:hover {
                    color: map-get($colors, yellow);
                }
            }
        }
    }
}