.faq {
    @include ul-reset;
    
    .faq__item {
        border-bottom: 2px solid map-get($colors, text);

        .icon-arrow-down {
            display: inline-block;
            @include default-transition(transform);
        }

        &.faq__item--open {
            .faq__content {
                height: auto;
            }

            .icon-arrow {
                @extend .icon-arrow--open;
            }
        }
    }

    .faq__content {
        height: 0;
        overflow: hidden;

        .faq__content__inner {
            // @include fluid(padding, 0px 50px 15px 0px, 0px 80px 30px 0px);
            @include fluid(padding-bottom, 15px, 30px);
            @include fluid(padding-right, 50px, 80px);
        }
    }

    .faq__button {
        @include fluid(padding, 15px 0, 35px 0);
        display: flex;
        align-items: center;
        width: 100%;
        outline: none;
        @include default-transition(color);

        .faq__icon {
            flex: 1 0 auto;
            margin-left: 15px;
            text-align: right;
            font-size: 30px;
        }

        .faq__link {
            flex: 1 1 auto;
            margin: 0;
            text-align: left;
        }

        @include breakpoint(medium) {
            &:hover {
                color: map-get($colors, red);
    
                .bg--red & {
                    color: #FFF;
                }
            }
        }
    }
}