.filterbar {
    margin: -15px 0;

    .filterbar__item {
        margin: 15px 0;

        @include breakpoint(medium) {
            display: flex;
            align-items: center;
            margin: 15px 15px 15px 0;
        }
    }

    .filterbar__select {
        border: 2px solid map-get($colors, yellow);

        select {
            color: map-get($colors, blue);
            font-weight: 400;
        }

        @include breakpoint(medium) {
            max-width: 180px;
        }
    }
    
    .filterbar__label {
        margin-bottom: 3px;
        margin-right: 15px;
        display: inline-block;

        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }

    @include breakpoint(medium) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}