.hamburger {
    width: 20px;
    height: 19px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;

    div {
        height: 3px;
        width: 100%;
        background-color: #FFF;
        background-color: currentColor;
        transform-origin: 50%;
        @include default-transition;

        &:nth-child(4) {
            position: absolute;
            top: 8px;
            left: 0;
            opacity: 0;
        }
    }

    &.hamburger--close {
        div {
            &:nth-child(1),
            &:nth-child(3) {
                opacity: 0;
            }

            &:nth-child(2) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                transform: rotate(45deg);
                opacity: 1;
            }
        }
    }
}
