.heading {
    @include fluid(padding-bottom, 25px, 30px);
    margin-bottom: 0;

    &.heading--spacing-large {
        @include fluid(padding-bottom, 30px, 45px);
    }

    &.heading--underline {
        border-bottom: 3px solid map-get($colors, blue);
    }

    .heading__title {
        flex: 1 1 100%;
        margin-bottom: 0;
    }

    .heading__button {
        flex: 1 0 auto;
    }

    @include breakpoint(medium) {
        display: flex;
        align-items: center;

        .heading__button {
            margin-left: 15px;
        }
    }

    @include breakpoint(small only) {
        .sliderbuttons {
            justify-content: flex-start;
            margin-top: 10px;
        }
    }
}
