.icon-arrow {
    position: relative;
    display: inline-block;
    font-size: 18px;
    width: 1em;
    height: 1em;
    color: inherit;

    span {
        width: 0.61111em;
        height: 0.11111em;
        border-radius: 1em;
        background-color: currentColor;
        display: block;
        position: absolute;
        bottom: 0;
        top: 50%;
        @include default-transition(transform);

        &:first-child {
            left: 0;
            transform: rotate(-45deg);
            transform-origin: 50% 50%;
        }

        &:last-child {
            right: 0;
            transform: rotate(45deg);
            transform-origin: 50% 50%;
        }
    }

    &.icon-arrow--open {
        span {
            &:first-child {
                transform: rotate(45deg);
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &.icon-arrow--close {
        span {
            &:first-child {
                transform: rotate(-45deg);
            }

            &:last-child {
                transform: rotate(45deg);
            }
        }
    }
}
