.icon-text {
    display: flex;
    flex: 0 0 auto;

    &.icon-text--top-spacing {
        margin-top: 25px;

        @include breakpoint(large) {
            margin-top: 30px;
        }
    }

    i {
        font-size: 32px;
        margin-right: 4px;
    }

    &.icon-text--icon-top {
        align-items: flex-start;
    }
}
