.label {
    padding: 5px 8px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.5;
    color: #fff;
    border-radius: 999px;
    display: inline-block;
}