.linklist {
    display: block;
    padding: 20px 0;
    border: 2px solid rgba(0, 0, 0, .1);
    border-width: 2px 0;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    @include default-transition;
    margin-top: 3em;
    margin-bottom: 3em;

    i {
        font-size: 30px;
        margin-right: 10px;
        color: map-get($colors, yellow);
        @include default-transition;
    }

    + .linklist {
        border-top: none;
        margin-top: -3em;
    }

    @include breakpoint(medium) {
        &:hover {
            color: map-get($colors, red);
    
            i {
                transform: translateX(5px);
            }
        }
    }
}