.mainnav {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: map-get($colors, blue);
    color: #FFF;
    padding: 80px 0 25px;
    background-color: map-get($colors, blue);
    background-image: url('../img/header__bg.svg');
    background-size: auto 140%;
    background-position: center left;
    background-repeat: repeat-x;

    @include breakpoint(medium) {
        padding: 150px 0 40px;
    }

    .mainnav__items {
        font-family: $heading-font;
        font-style: normal;
        font-weight: 700;
        @include fluid(font-size, 24px, 60px, 'vertical', 400px, 1000px);
        line-height: 1.1;
        text-transform: uppercase;

        &.mainnav__items--main {
            @include fluid(margin-bottom, 15px, 50px);
        }

        &.mainnav__items--sub {
            @include fluid(font-size, 16px, 40px, 'vertical', 400px, 1000px);
        }

        @include breakpoint(small only) {
            font-size: 36px;

            &.mainnav__items--sub {
                font-size: 26px;
            }
        }
    }

    ul {
        @include ul-reset;

        li {
            a {
                color: inherit;
                text-decoration: none;

                @include breakpoint(medium) {
                    &:hover {
                        color: map-get($colors, red);
                    }
                }
            }
        }
    }

    .mainnav__contact {
        @include fluid(font-size, 16px, 20px);

        @include breakpoint(medium) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        > div {
            flex: 0 1 auto;

            @include breakpoint(medium) {
                margin-right: 15px;
            }
        }

        .icon-text {
            a {
                color: #fff;

                &:after {
                    background-color: #fff;
                }
            }

            i {
                color: map-get($colors, yellow);
                margin-right: 0;
            }

            @include breakpoint(medium) {
                margin: 0 10px;

                a {
                    &:hover {
                        color: map-get($colors, yellow);
    
                        &:after {
                            background-color: map-get($colors, yellow) ;
                        }
                    }
                }
            }
        }
    }

    .mainnav__inner {
        height: 100%;

        .grid-container,
        .grid-y {
            height: 100%;
        }
    }
}