.desktop-nav {
    display: none;
}

.mobile-nav-overlay {
    display: none;
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: calc(100% + 200px);
    background-color: #000;
    opacity: 0;
    top: 0;

    &.show {
        display: block;
        opacity: 0.5;
    }
}

.mobile-nav-bg {
    position: fixed;
    z-index: 9999998;
    width: calc(100% - 60px);
    max-width: 400px;
    min-width: 250px;
    height: calc(100% + 200px);
    background-color: #eee;
    top: 0;
    transform: translateX(-100%);
    @include default-transition(all, 350ms, cubic-bezier(0, 0, 0.33, 1));

    &.show {
        transform: translateX(0);
    }
}

.mobile-nav {
    position: absolute;
    z-index: 9999999;
    width: calc(100% - 60px);
    max-width: 400px;
    min-width: 250px;
    top: 0;
    transform: translateX(-100%);
    @include default-transition(all, 350ms, cubic-bezier(0, 0, 0.33, 1));

    &.show {
        transform: translateX(0);
    }

    .mobile-nav__toggle {
        display: block;
        position: absolute;
        top: 0;
        right: -50px;
        width: 50px;
        height: 50px;
        background-color: #eee;
        text-decoration: none;

        &:before {
            position: absolute;
            font-size: 30px;
            top: 10px;
            left: 10px;
        }
    }
}

@include breakpoint(medium) {
    .mobile-nav,
    .mobile-nav-overlay {
        display: none;
    }

    .desktop-nav {
        display: block;
    }
}