.newsletter {
    display: none;
    background-color: #fff;
    position: fixed;
    z-index: 99999999999;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    margin-bottom: 20px;

    p { 
        margin-right: 40px;
    }

    .close {
        position: absolute;
        z-index: 999;
        top: 0; 
        right: 0;
        width: 40px; 
        height: 40px;
        background-color: #333;
        color: #fff;
        text-decoration: none;

        &:before {
            display: block;
            position: absolute;
            font-size: 22px;
            width: 40px; 
            height: 40px;
            text-align: center;
            top: 9px;
        }
    }

    form {
        margin: 0 0 10px;
    }

    @include breakpoint(medium) {
        .newsletter {
            right: 50px;
        }
    }
}