.notificationbar {
    background-color: map-get($colors, yellow);
    @include fluid(padding, 10px 15px, 15px 25px);
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;

    .notificationbar__main {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    p {
        font-size: 16px;
        margin-bottom: 0;
        margin-right: 15px;
    }

    .btn-text {
        font-size: 13px;
        padding: 4px 0;
    }

    .notificationbar__icon {
        text-decoration: none;
        color: inherit;
        display: flex;
        font-size: 24px;
    }
}