.pagination {
    text-align: center;
    padding: 30px 0;
    margin-top: 40px;
    border-bottom: 2px solid #F3F4F8;
    color: inherit;

    > a,
    > span {
        padding: 10px 20px;
        display: inline-block;
        border-radius: 3px;
        color: map-get($colors, blue);
        text-decoration: none;
        @include default-transition;
    }

    .current {
        background-color: #e6e6e7;
        color: #323649;
    }

    @include breakpoint(medium) {
        > a {
            &:hover {
                background-color: #E6E6E7;
                color: map-get($colors, text-color);
            }
        }
    }
}