// .partners {
//     overflow: hidden;

//     .partners__image {
//         display: block;
//         margin: 0 auto;
//         max-width: 170px;
//         width: 100%;
//     }
// }

.partners {
    white-space: nowrap;
    overflow: hidden;
    
    .partners__panel {
        display: inline-block;
    }

    .logo {
        display: inline-block;
        @include fluid(width, 200px, 250px);

        .logo__inner {
            @include fluid(padding, 0 10px, 0 40px);
            opacity: 1;
            @include default-transition;
            display: inline-block;

            img {
                width: 100%;
            }

            @include breakpoint(medium) {
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}