.payoff {
    line-height: 1.32;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 110px;
    letter-spacing: -0.029em;
    width: 100%;

    .payoff__bottom {
        position: relative;
        overflow: hidden;
        width: 500px;

        div {
            position: absolute;
            top: 100%;
            white-space: nowrap;

            &:first-child {
                top: 0;
            }
        }
    }

    @include breakpoint(medium) {
        left: 138px;
        top: 2px;
    }
}