.blockquote {
    margin: 3.2em 0;
    @include fluid(padding-left, 40px, 60px);

    .blockquote__text {
        max-width: 460px;
    }

    .blockquote__author {
        font-size: 16px;
    }

    @include breakpoint(small only) {
        padding-right: 40px;
        padding-left: 40px;
    }
}