@import '~slick-carousel/slick/slick.scss';

.slider-container {
    overflow: hidden;
}

.slider {
    position: relative;

    .slider__slide {
        position: relative;

        .slider__caption {
            position: absolute;
            bottom: 0;
            left: 0;
            color: #FFF;
            padding: 20px;
            max-width: 600px;
            font-size: 15px;
        }

        &.slider__slide--grey-panel {
            padding-bottom: 0;
        }
    }

    .slick-list {
        overflow: visible;
    }

    .slick-slide {
        padding: 0 7px;
    }

    .sliderbuttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}