.sliderbuttons {
    display: flex;
    justify-content: center;

    .sliderbuttons__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 2px solid map-get($colors, yellow);
        border-radius: 100%;
        color: map-get($colors, yellow);
        font-size: 24px;
        margin: 0 5px;
        @include default-transition;
        cursor: pointer;

        @include breakpoint(medium) {
            &:hover {
                background-color: map-get($colors, yellow);
                color: map-get($colors, blue);
            }
        }
    }
}