.social-icons {
    a {
        color: inherit;
        text-decoration: none;
        margin: 0 0.2em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        @include fluid(font-size, 16px, 18px);

        i {
            font-size: 2em;
            @include default-transition;
        }

        &:before {
            content: "";
            position: absolute;
            width: calc(100% + 0.5em);
            height: calc(100% + 0.5em);
            z-index: -1;
            border-radius: 100%;
            background-color: map-get($colors, yellow);
            @include default-transition();
            transform: scale(.8);
            opacity: 0;
        }

        @include breakpoint(medium) {
            &:hover {
                color: map-get($colors, blue);
    
                &:before {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }
}
