.social-share {
    display: flex;
    align-items: center;
    border-top: 1px solid #dddcdb;
    @include fluid(padding-top, 20px, 30px);

    .social-share__title {
        display: flex;
        align-items: center;
        @include fluid(margin-right, 0px, 13px);

        i {
            color: map-get($colors, yellow);
            font-size: 22px; 
            margin-left: 3px;
        }
    }

    .social-share__list {
        display: flex;

        a {
            @include fluid(font-size, 14px, 15px);
            color: inherit;
            text-decoration: none;
            margin: 0 0.6em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
    
            i {
                font-size: 2em;
                @include default-transition;
            }
    
            &:before {
                content: "";
                position: absolute;
                width: calc(100% + 0.6em);
                height: calc(100% + 0.6em);
                z-index: -1;
                border-radius: 100%;
                background-color: map-get($colors, yellow);
                @include default-transition();
                transform: scale(.8);
                opacity: 0;
            }
    
            @include breakpoint(medium) {
                &:hover {
                    color: map-get($colors, blue);
        
                    &:before {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
    }
}
