.step {
    background-color: map-get($colors, lightgrey);

    .step__inner {
        display: flex;
        justify-content: center;
        padding: 60px 30px;
        min-height: 300px;
        display: flex;
        align-items: center;

        > div {
            display: flex;
            align-items: flex-start;
            max-width: 770px;
            width: 100%;
        }

        .step__content {
            max-width: 630px;
        }

        .step__number {
            display: none;
            font-size: 30px;
            @include fluid(font-size, 220px, 250px);
            @include fluid(margin-right, 40px, 100px);
            font-family: $heading-font;
            font-weight: 800;
            line-height: 0.7;
            color: map-get($colors, blue);

            @include breakpoint(medium) {
                display: block;
            }
        }

        .step__number-small {
            font-size: 40px;
            font-family: $heading-font;
            font-weight: 800;

            @include breakpoint(medium) {
                display: none;
            }
        }

        @include breakpoint(medium) {
            min-height: 500px;
        }
    }
}