.topbar {
    position: fixed;
    width: 100%;
    z-index: 99999;
    @include default-transition();
    color: #FFF;

    .topbar__inner {
        padding: 25px 0 0;
    }

    .topbar__right {
        display: flex;
        align-items: center;
    }

    .topbar__search {
        display: inline-block;
        line-height: 1;
        font-size: 26px;
        margin-right: 15px;
        margin-top: 7px;
        @include default-transition;
        color: inherit;
        text-decoration: none;

        @include breakpoint(medium) {
            &:hover {
                color: map-get($colors, red);
            }
        }
    }

    .topbar__logo {
        position: relative;
        @include default-transition();
        display: flex;
        align-items: center;
        text-decoration: none;
        width: 100px;

        @include breakpoint(medium) {
            width: 125px;
        }
    }

    .hamburger {
        color: #FFF;

        &:before {
            content: "";
            position: absolute;
            top: calc(50% - 24px);
            left: calc(50% - 24px);
            width: 48px;
            height: 48px;
            border-radius: 100%;
            background-color: map-get($colors, yellow);
            z-index: -1;
            // opacity: 0;
            transform: scale(0.8);
            @include default-transition;
        }
        
        @include breakpoint(medium) {
            &:hover {
                &:before {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    &.topbar--sticky:not(.topbar--mainnav-open) {
        .topbar__logo {
            opacity: 0;
            visibility: hidden;
        }

        .topbar__right {
            color: map-get($colors, red);
        }

        .hamburger {
            // color: map-get($colors, red);

            &:hover {
                color: #FFF;
            }
        }
    }

    &.topbar--sticky {
        .topbar__search {
            display: none;
        }
    }

    &.topbar--mainnav-open {
        .topbar__search {
            display: block;
        }
    }

    &.topbar--open {
        .hamburger {
            @extend .hamburger--close;
            color: #FFF;
        }
    }

    &.topbar--white {
        color: map-get($colors, blue);
    }

    @include breakpoint(medium) {
        .topbar__inner {
            padding: 50px 0 0;
        }
    }
}

.topbar__menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .hamburger-circle {
        background-color: rgb(255, 166, 0);
        width: 100px;
        height: 100px;
        z-index: -1;
        position: absolute;
        border-radius: 100%;
        pointer-events: none;
    }

    .circle-overlay-yellow {
        position: absolute;
        background-color: map-get($colors, yellow);
        border-radius: 100%;
        transform: scale(0);
        z-index: -2;
    }

    .circle-overlay-blue {
        position: absolute;
        background-color: map-get($colors, blue);
        border-radius: 100%;
        transform: scale(0);
        z-index: -1;
    }  
}