.widgetvideo {
    margin-bottom: 60px;
    max-width: 250px;

    .widgetvideo__figure {
        @include fluid(margin-bottom, 15px, 20px);
        position: relative;
        
        > img {
            @include default-transition;
            border: 0px solid #FFF;
        }

        .widgetvideo__inner {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            justify-content: flex-start;
            display: flex;
            align-items: flex-end;
            padding: 15px;
        }
    }

    .widgetvideo__title {
        font-size: 17px;

        @include breakpoint(medium) {
            font-size: 16px;
        }
    }
}