.bg--grey {
    background-color: map-get($colors, bg-grey);
}

.bg--red {
    background-color: map-get($colors, red);

    .btn-text {
        @extend .btn-text--white;
    }
}

.bg--white {
    //
}

.bg--purple {
    background-color: map-get($colors, purple);
    color: #FFFFFF;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: inherit;
    }

    .btn-text {
        @extend .btn-text--white;
        @extend .btn-text--yellow-hover;
    }
}

.bg--dark-blue {
    background-color: map-get($colors, blue);
    color: #FFFFFF;

    .btn-text {
        @extend .btn-text--white;
        @extend .btn-text--yellow-hover;
    }
    
    .btn {
        @extend .btn--yellow-red;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        color: inherit;
    }
}

.bg--light-blue {
    background-color: map-get($colors, lightblue);
    color: map-get($colors, text);
}

.bg--light-grey {
    background-color: map-get($colors, lightgrey);
}

.bg--yellow {
    background-color: map-get($colors, yellow);

    .btn-text {
        @extend .btn-text--white;
    }

    .btn {
        @extend .btn--blue;
    }
}

.bg--gradient-blue {
    background-image: map-get($gradients, blue);
    color: #FFFFFF;

    .btn-text {
        @extend .btn-text--white;
        @extend .btn-text--yellow-hover;
    }
}
