.footer {
    position: relative;
    padding: 0;
    overflow: hidden;

    .social-icons {
        margin-left: -15px;
    }

    .footer__content {
        color: #fff;
        z-index: 1;
        position: relative;
        
        .footer__content__inner {
            height: 100%;
            @include fluid(padding, 50px 0, 85px 0);
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 3000px;
            height: 100%;
            top: 0;
            right: 0;
            background-color: map-get($colors, blue);
        }

        &.footer__content--aside {
            &:before {
                background-color: map-get($colors, red);
                left: 0;
            }

            .footer__content__inner {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                @include breakpoint(large) {
                    padding: 80px 0 80px 0;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: space-between;
                }
            }
        }
    }

    .footer__navigation {
        @include fluid(margin-bottom, 30px, 45px);

        ul {
            @include ul-reset;

            li {
                a {
                    @include fluid(font-size, 16px, 15px);
                    font-family: $navigation-font;
                    color: inherit;
                    text-decoration: none;
                    font-weight: 800;
                    text-transform: uppercase;
                    line-height: 2em;

                    @include breakpoint(medium) {
                        &:hover {
                            color: map-get($colors, red);
                        }
                    }
                }
            }
        }
    }

    .footer__logo {
        @include fluid(margin-bottom, 40px, 60px);
        max-width: 95px;
    }

    .footer__cta {
        margin-bottom: 80px;
        max-width: 440px;

        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }

    .footer__disclaimer {
        font-size: 15px;

        a {
            text-transform: lowercase;
            color: inherit;
            @include fluid(margin-right, 10px, 20px);
            @include default-transition;

            @include breakpoint(medium) {
                &:hover {
                    color: map-get($colors, blue);
                }
            }
        }
    }
}

.newsletter {
    .newsletter__step {
        display: none;

        &:first-child {
            display: block;
        }
    }
}