$form-border-color: #979797;
$form-border-radius: 4px;
$form-error-color: #ea0000;
$choice-size: 40px;

/* text fields */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    position: relative;
    z-index: 5;

    &::-ms-clear {
        display: none;
    }
}

/* textarea */
textarea {
    width: 100%;
    max-width: 100%; // zorgt er voor dat textarea niet groter gemaakt kan worden
    min-width: 100%; // zorgt er voor dat textarea niet kleiner gemaakt kan worden
    min-height: 190px;
    padding: 17px 0px 20px;
    font-size: 16px;
}

select {
    height: 60px;
    width: 100%;
}

/* resetting */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
.customselect-container,
textarea,
ul.inputlist,
div.inputlist {
    width: 100%;
    @include fluid(height, 48px, 64px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: map-get($colors, text);
    -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
}

input,
textarea {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid $form-border-color;
    background-color: transparent;
    outline: none;
    // @include default-transition;
    color: #fff;
    font-family: $heading-font;
    font-weight: 600;
    font-size: 18px;

    &::placeholder {
        text-transform: lowercase;
        color: #6a668e;
        @include fluid(font-size, 21px, 28px);
    }    
}

input {
    @include fluid(font-size, 21px, 28px);
}

input[type='number'] {
    -moz-appearance: textfield;
}

input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

input,
textarea {
    &:focus {
        border-color: map-get($colors, purple);
    }
}

.formfield__btn-group {
    border: 2px solid map-get($colors, blue);
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    overflow: hidden;

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        border-radius: 0;
        border: none;
        background-color: transparent;
        height: 58px;
    }

    .btn {
        height: 60px;
        padding: 15px 13px;
        border-radius: 0;

        i {
            text-align: center;
        }
    }
}

.grid-formgroup {
    // margin-bottom: -25px;

    > .cell {
        display: flex;

        .formgroup {
            flex: 1 1 100%;
        }
    }
}

.formgroup {
    // background-color: #fff;
    border: 2px solid map-get($colors, grey);
    border-radius: 4px;
    padding: 25px 30px 30px;
    margin-bottom: 30px;

    .formfield {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.formfield {
    margin-bottom: 25px;

    .formfield__description {
        font-size: 16px;
        margin: -7px 0 10px;
    }

    .formfield__label {
        display: block;
        font-family: $heading-font;
        font-weight: 700;
        font-size: 14px;
        color: inherit;
        text-transform: uppercase;
    }

    .formfield__choice {
        display: inline-flex;
        font-family: $main-font;
        font-style: 16px;
        
        input[type="radio"],
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            left: -99999px;

            + span {
                position: relative;
                display: inline-block;
                margin-right: 20px;
                padding: 5px 0 5px 36px;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 20px;
                    margin-top: -12px;
                    display: block;
                    width: 24px;
                    height: 24px;
                    border-radius: 5px;
                    background-color: transparent;
                    @include default-transition;
                }

                &:before {
                    border: 2px solid map-get($colors, yellow);
                }

                &:after {
                    opacity: 0;
                    visibility: hidden;
                    background-color: map-get($colors, yellow);
                    width: 24px;
                    height: 24px;
                    top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: map-get($colors, text);
                    font-size: 16px;
                    @include icon('check');
                }
            }

            &:checked {
                + span {
                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &:focus {
                + span {
                    &:before {
                        transform: scale(1.1);
                    }
                }
            }
        }

        input[type="radio"] {
            + span {
                &:before,
                &:after {
                    border-radius: 100%;
                }
            }
        }

        + .formfield__choice-other {
            height: 0;
            overflow: hidden;

            .formfield {
                margin-bottom: 0;
            }
        }

        &.formfield__choice--checked {
            + .formfield__choice-other {
                height: auto;
            }
        }
    }

    &.formfield--inputlist {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .formfield {
            margin-top: 15px;
        }
    }

    &.formfield--other {
        margin-top: 10px;
    }

    &.formfield--textarea {
        textarea {
            display: block;
        }
    }

    &.formfield--button {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .loader {
            display: inline-block;
            font-size: 4px;
            margin-left: 20px;
            vertical-align: middle;
            opacity: 0;
            visibility: hidden;
        }

        &.formfield--button-center {
            justify-content: center;
        }
    }

    &.formfield--date {
        .formfield {
            display: inline-block;
            width: 65px;
            margin-right: 10px;
            margin-bottom: 0;

            &:last-child {
                margin-bottom: 0;
            }

            input {
                text-align: center;
            }

            &.formfield--year {
                width: 80px;
            }
        }
    }
}

.form {
    position: relative;
    @include default-transition;
    margin: 0;

    .form__step {
        overflow: hidden;
        height: 0;
        padding: 5px; // this padding is for overflow fixes (outlines, scale)

        .form__step-inner {
            margin-top: 70px;
            padding-top: 70px;
            border-top: 2px solid map-get($colors, grey);
            padding-bottom: 5px;

            > .formfield {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &:first-child {
            height: auto;

            .form__step-inner {
                border-top: 0;
                padding-top: 0;
                margin-top: 0;
            }
        }
    }

    .form__content {
        margin: 30px 0;
    }

    .form__errors {
        @include ul-reset();
        display: none;
        color: map-get($colors, red);
        margin: 10px 0 10px;
        line-height: 1.2;
        font-size: 16px;

        li {
            overflow: hidden;
            
            &:first-child {
                margin-top: 5px;
            }
        }
    }

    &.form--loading {
        opacity: .6;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            // z-index: 5000;
        }

        .formfield.formfield--button {
            .loader {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &.form--bg-blue {
        .form__errors {
            color: inherit;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-text-fill-color: #FFF;
            -webkit-box-shadow: 0 0 0px 1000px map-get($colors, blue) inset;
        }
    }

    &.form--bg-red {
        color: #FFF;

        input,
        textarea {
            border-color: #FFF;

            &::placeholder {
                color: rgba(#FFF, 0.5);
            }   
        }

        .form__errors {
            color: inherit;
        }

        input[type="radio"],
        input[type="checkbox"] {
            + span {
                &:before {
                    border-color: #FFF;
                }

                &:after {
                    border-color: #FFF;
                    width: 24px;
                    height: 24px;
                    top: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: map-get($colors, text);
                    font-size: 14px;
                    @include icon('check');
                }
            }

            &:checked {
                + span {
                    &:before {
                        border-color: map-get($colors, yellow);
                    }
                }
            }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-text-fill-color: #FFF;
            -webkit-box-shadow: 0 0 0px 1000px map-get($colors, red) inset;
        }
    }

    &.form--bg-light-grey {
        color: map-get($colors, text);

        input,
        textarea {
            color: map-get($colors, text);
            border-bottom: 1px solid map-get($colors, text);

            &::placeholder {
                color: rgba(7, 0, 67, 0.4);
            }    
        }

        .form__errors {
            color: map-get($colors, red);
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-text-fill-color: map-get($colors, text);
            -webkit-box-shadow: 0 0 0px 1000px map-get($colors, lightgrey) inset;
        }
    }

    &.form--spacing-large {
        .formfield {
            @include fluid(margin-bottom, 25px, 57px);
        }

        .formfield--button {
            margin-bottom: 0;
        }
    }

    .formfield--button {
        margin-bottom: 0;
    }
}

/* formfield error handling */
.fileupload {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgba(7, 0, 67, 0.8);
    font-size: 16px;

    .fileupload__inner {
        display: flex;
    }

    + .fileupload {
        margin-top: 10px;
    }

    + .btn {
        margin-top: 10px;
    }

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1000px;
        opacity: 0;
        z-index: 100;
    }

    .fileupload__dropzone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }

    .fileupload__filename {
        border-radius: $form-border-radius;
        background-color: transparent;
        width: 100%;
        padding: 15px 15px 15px 0;
        position: relative;
        z-index: 5;
        cursor: pointer;
        flex: 1 1 100%;
        overflow: hidden;
        color: inherit;

        .fileupload__placeholder {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 16px;
        }

        .fileupload__name {
            display: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .fileupload__button {
        flex: 1 0 auto;
        background-color: map-get($colors, yellow);
        color: map-get($colors, text);
        z-index: 150;
        padding: 13px 10px 12px;
        font-size: 13px;
        cursor: pointer;
        @include default-transition(background-color);
        display: flex;
        align-items: center;

        &.fileupload__button--choose {
            z-index: 90;

            &:hover {
                background-color: map-get($colors, red);
            }
        }

        &.fileupload__button--delete {
            display: none;
        }
    }

    .fileupload__loader {
        display: none;
        z-index: 999;
        position: absolute;
        top: 12px;
        right: 8px;

        .loader {
            position: relative;
            z-index: 10;
            font-size: 3.5px;
        }
    }

    &.fileupload--uploading {
        background-color: map-get($colors, grey);

        .fileupload__loader {
            display: block;
        }

        .fileupload__button {
            display: none;
        }
    }

    &.file--hasfile {
        .fileupload__dropzone {
            display: none;
        }

        .fileupload__filename {
            .fileupload__placeholder {
                display: none;
            }

            .fileupload__name {
                display: block;
            }
        }

        .fileupload__button--delete {
            display: flex;
        }

        .fileupload__button--choose {
            display: none;
        }
    }
}

.customselect {
    position: relative;
    border: 2px solid $form-border-color;
    border-radius: 999px;
    background-color: transparent;

    &:after {
        @include icon('arrow-down');
        color: map-get($colors, blue);
        position: absolute;
        right: 11px;
        top: 50%;
        margin-top: -12px;
        font-size: 24px;
        pointer-events: none;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.…points='0,0 32,0 16,24' style='fill: rgb%2851, 51, 51%29'></polygon></svg>");
        background-size: 9px 6px;
        background-position: right -1rem center;
        background-origin: content-box;
        background-repeat: no-repeat;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0 50px 0 16px;
        color: #6a668e;
        font-size: 16px;
        height: 52px;

        &::-ms-expand {
            display: none;
        }
    }
}
