.header {
    min-height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .header__inner {
        position: relative;
        z-index: 500;
        flex: 1 1 100%;
        padding: 150px 0;
    }

    #tv {
        width: 100%;
        height: 100%;
    }

    .header__content {
        max-width: 750px;
        margin: 0 auto;
        
        .header__subtitle {
            color: #fff;
        }
    }

    .header__link {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 70px;
        z-index: 501;

        .btn-text {
            @extend .btn-text--white;
            @extend .btn-text--red-hover;
        }
    }

    &.header--content {
        background-color: map-get($colors, blue);
        background-image: url('../img/header__bg.svg');
        background-size: auto 140%;
        background-position: center left;
        background-repeat: repeat-x;
        color: #FFF;
    }

    &.header--default {
        min-height: 0;

        .header__inner {
            @include fluid(padding, 150px 0 0, 200px 0 0);
        }
    }

    &.header--home {
        background-color: map-get($colors, blue);

        .header__inner {
            opacity: 0;
        }

        .bg-video__cover {
            background-image: none;
        }
    }

    &.header--video {
        background-color: map-get($colors, blue);
        color: #FFF;        
    }

    @include breakpoint(medium) {        
        min-height: 100vh;
    }
}