@import '~sass-sections';

$sectionSpacings: (
    small: (
        min: 50px,
        max: 120px
    ),
    large: (
        min: 90px,
        max: 150px
    )
);

$sectionBackgroundColors: 'purple', 'grey', 'dark-blue', 'gradient-blue', 'white', 'light-grey', 'light-blue';
$blockClass: 'section';
$backgroundClass: 'bg--';

@include sections($sectionSpacings, $blockClass, $sectionBackgroundColors, $backgroundClass);
