<div class="fileupload">
    <input type="file" name="<%- tv.name %>">

    <div class="fileupload__inner">
        <div class="fileupload__filename">
            <span class="fileupload__placeholder"><%= tv.placeholder %></span>
            <span class="fileupload__name" filename></span>
        </div>
        
        <div class="fileupload__button fileupload__button--choose">
            kies bestand
        </div>
            
        <div class="fileupload__button fileupload__button--delete" delete>
            verwijderen
        </div>
        
        <div class="fileupload__loader">
            <span class="loader"></span>
        </div>
    </div>
</div>