$elements-margin: 1.5rem 0;

figure {
    margin: 0;

    canvas {
        width: 100%;
        max-width: 100%;
    }
}

button {
    cursor: pointer;
}

table {
    width: 100%;

    tr {
        td {
            padding: 10px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

iframe {
    border: none;
}

.inline-list {
    .inline-list {
        margin-top: 10px;
        margin-bottom: 0;
    }

    li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
    }
}

ul.inline-list {
    li {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            left: 0;
            top: 0.647em;
            background-color: map-get($colors, text-color);
        }
    }
}

.medium-offset-1 ul,
.medium-offset-1 ol {
    @include fluid(font-size, 17px, 20px);
}

.medium-offset-1.medium-15 {
    ul {
        padding-left: 40px;
    }

    ol {
        list-style: none;
        padding-left: 10px;
        counter-reset: ol;

        li {
            counter-increment: ol;
            position: relative;
            padding-left: 30px;

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                content: counter(ol) ". ";
            }
        }
    }
}

ol.inline-list {
    counter-reset: section;
    padding-left: 0;

    > li {
        &:before {
            position: absolute;
            left: 0;
            counter-increment: section;
            content: counters(section, ".") ". ";
        }
    }
}

noscript {
    > div {
        background-color: #ffe3e2;
        border: 1px solid #ffd4d2;
        padding: 20px;
        color: #db2a4b;
    
        &.noscript-inline {
            margin: $elements-margin;
        }
    }
}
