$elements-margin: 1.5rem 0;

body {
    font-family: $main-font;
    font-size: 20px;
    color: map-get($colors, text);
    line-height: 1.5;
    letter-spacing: 0.024em;
}

.h--uppercase {
    text-transform: uppercase;
}

.h--red {
    color: map-get($colors, red);
}

.h--blue {
    color: map-get($colors, blue);
}

.h--white {
    color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $heading-font;
    font-weight: 800;
    margin: 0;
    margin-bottom: .5em;
    line-height: 1.2;
    color: map-get($colors, blue);
    hyphens: auto;

    @include breakpoint(small only) {
        br {
            display: none;
        }
    }

    @include breakpoint(medium) {
        hyphens: none;
    }
}

h1,
.h1 {
    @include fluid(font-size, 50px, 100px);
    line-height: 0.9;
    margin-bottom: 0.3em;
    font-weight: 800;
    text-transform: none;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h2,
.h2 {
    @include fluid(font-size, 20px, 28px);
    font-weight: 600;
    text-transform: none;
    line-height: 1.2;
}

h3,
.h3 {
    @include fluid(font-size, 30px, 40px);
    text-transform: uppercase;
    font-weight: 800;
}

h4,
.h4 {
    @include fluid(font-size, 34px, 60px);
    font-weight: 800;
    text-transform: uppercase;
}

h5,
.h5 {
    @include fluid(font-size, 14px, 15px);
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-family: $main-font;
    margin: 0 0 1.3em;
    @include fluid(font-size, 17px, 20px);
}

ul,
ol,
p {
    + h2,
    + .h2,
    + h3,
    + .h3 {
        margin-top: 1.5em;
    }
}

b,
strong {
    font-family: $main-strong;
}

ul,
ol,
p,
label,
address,
table {
    a {
        text-decoration: none !important;
        color: inherit;
        @include default-transition;

        @include breakpoint(medium) {
            &:hover {
                text-decoration: none;
                color: map-get($colors, yellow);
            }
        }
    }
}

p,
label,
.medium-15.large-offset-2 ul,
.medium-15.large-offset-2 li {
    a {
        text-decoration: none;
        color: inherit;
        font-weight: 600;
        @include default-transition;
        border-bottom: 1px solid currentColor;
        padding-bottom: 2px;

        @include breakpoint(medium) {
            &:hover {
                text-decoration: none;
                color: map-get($colors, yellow);
            }
        }
    }
}

.intro {
    text-align: center;
    font-family: $heading-font;
    @include fluid(font-size, 24px, 40px);
}

address {
    font-style: normal;
}

noscript {
    > div {
        background-color: #ffe3e2;
        border: 1px solid #ffd4d2;
        padding: 20px;
        color: #db2a4b;
    
        &.noscript-inline {
            margin: $elements-margin;
        }
    }
}
