@import 'vendor/foundation';

// Settings
@import 'settings/variables';

// Tools
@import 'tools/mixins';

// Iconfont
@import 'iconfont/icons';

// Base
@import 'base/fonts';
@import 'base/typography';
@import 'base/base-elements';

// Layout
@import 'layout/grid';
@import 'layout/section';
@import 'layout/bg';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/forms';

// Components
@import 'components/back-to-top';
@import 'components/buttons';
@import 'components/loader';
@import 'components/mobilemenu';
@import 'components/hamburger';
@import 'components/slider';
@import 'components/article';
@import 'components/label';
@import 'components/faq';
@import 'components/benefits';
@import 'components/icon-text';
@import 'components/heading';
@import 'components/linklist';
@import 'components/topbar';
@import 'components/mainnav';
@import 'components/payoff';
@import 'components/filterbar';
@import 'components/partners';
@import "components/iconarrow";
@import "components/widgetvideo";
@import "components/widgetquestion";
@import "components/quote";
@import 'components/small-social';
@import 'components/social-share';
@import 'components/contact';
@import 'components/employees';
@import 'components/steps';
@import 'components/sliderbuttons';
@import 'components/notificationbar';
@import 'components/pagination';
@import 'components/article-listitem';

.intro-section {
    text-align: center;

    .btn {
        margin-top: 2em;
    }
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow: hidden;
    display: none;

    .bg-video__cover {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        &.bg-video__cover--pattern {
            background-image: url('../img/header__bg--white.svg');
            background-size: auto 140%;
            background-position: center;
        }
    }

    #tv {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        opacity: 0;
        @include default-transition(all 0.5s);

        iframe {
            position: absolute;
        }
    }

    &.bg-video--loaded {
        #tv {
            opacity: 1;
        }
    }

    @include breakpoint(medium) {
        display: block;
    }
}

.author {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    margin-top: 20px;

    figure {
        display: inline-block;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 10px;

        img {
            width: 50px;
        }
    }
}

.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999999999;
    display: none;

    .video-popup__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#070043, .7);
    }

    .video-popup__inner {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 900px;
    }

    .responsive-embed {
        background-color: #000;
    }

    .video-popup__close {
        cursor: pointer;
        text-decoration: none;
        position: absolute;
        top: -25px;
        right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: map-get($colors, yellow);
        z-index: 20;
        color: #FFF;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include default-transition;

        i {
            @include default-transition;    
        }
    }

    @include breakpoint(medium) {
        .video-popup__close {
            right: -25px;

            &:hover {
                background-color: map-get($colors, red);
    
                i {
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.contact-cta {
    text-align: center;
    @include fluid(padding, 60px 0, 180px 0);

    .btn-text {
        margin-right: 10px;
    }

    p {
        font-size: 20px;
    }

    .contact-cta__btn {
        text-align: center;
        margin-top: 50px;       
    }
}

.wrapper {
    overflow: hidden;
}

.video-content {
    margin: 2em 0;
}

.content-circle {
    position: relative;
    height: 0;
    z-index: -1;

    .content-circle__wrap {
        position: absolute;
        right: 0;
        width: 40vw;
        height: 1px;
        max-width: 600px;
        display: flex;
        align-items: center;
    }

    .content-circle__inner {
        width: 100%;
        padding-bottom: 100%;
        border: 2px solid map-get($colors, red);
        border-radius: 100%;
        position: relative;
        left: 50%;
    }
}

.text-grey {
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #c5c3d1;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

.search-item {
    display: block;
    text-decoration: none;
    @include fluid(padding, 25px 0, 40px 0);
    border-bottom: 2px solid map-get($colors, lightgrey);

    &:first-child {
        border-top: 2px solid map-get($colors, lightgrey);
    }

    p {
        color: map-get($colors, text);
    }
}

.searchresult {
    text-align: center;

    .searchresult__title {
        font-family: $main-font;
        @include fluid(font-size, 17px, 20px);
        font-weight: 400;
        margin-bottom: 0;
    }
}

.searchbar {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map-get($colors, lightgrey);
    @include fluid(margin, 0 0 25px, 0 10px 70px);
    @include fluid(padding, 5px 10px, 17px 40px);

    input {
        border: none;
        color: map-get($colors, blue);
        @include fluid(font-size, 20px, 28px);
        padding-right: 30px;
    }
}

.section-search {
    margin-top: 100px;

    .section-search__content {
        text-align: center;
        max-width: 670px;
        margin: 0 auto;
    }
}

.widget {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}

.header {
    overflow: hidden;

    .bg-video-mobile {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 100%;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include breakpoint(medium) {
            display: none;
        }
    }
}

#mc_embed_signup {
    form {
        padding: 0 !important;
    }

    .button {
        @extend .btn;
        border: none !important;
        border-radius: 100px !important;
        padding: 20px !important;
        font-weight: bold !important;
        padding: 10px 20px !important;
        height: auto !important;
        background-color: map-get($colors, button) !important;

        &:hover {
            background-color: map-get($colors, blue) !important;
        }
    }

    input[type="text"],
    input[type="email"] {
        color: inherit !important;
    }
}